<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
	<!--begin::Post-->
	<div class="content flex-row-fluid" id="kt_content">
		<!--begin::Row-->
		<div class="row g-5 g-xxl-8">
			<!--begin::Col-->
			<div class="col-xxl-4">
				<!--begin::List Widget 5-->
				<div class="card card-xxl-stretch">
					<!--begin::Header-->
					<div class="card-header align-items-center border-0 mt-4">
						<h3 class="card-title align-items-start flex-column">
							<span class="fw-bolder mb-2 text-dark">Pipeline</span>
							<span class="text-muted fw-bold fs-7">Progress Implementasi</span>
						</h3>
						<div class="card-toolbar">
							<!--begin::Menu-->
							<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
								data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
								<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
								<span class="svg-icon svg-icon-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
										viewBox="0 0 24 24">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
											<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
											<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
											<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
										</g>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</button>
							<!--begin::Menu 1-->
							<div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true"
								id="kt_menu_613570945ed49">
								<!--begin::Header-->
								<div class="px-7 py-5">
									<div class="fs-5 text-dark fw-bolder">Filter Options</div>
								</div>
								<!--end::Header-->
								<!--begin::Menu separator-->
								<div class="separator border-gray-200"></div>
								<!--end::Menu separator-->
								<!--begin::Form-->
								<div class="px-7 py-5">
									<!--begin::Input group-->
									<div class="mb-10">
										<!--begin::Label-->
										<label class="form-label fw-bold">Status:</label>
										<!--end::Label-->
										<!--begin::Input-->
										<div>
											<select class="form-select form-select-solid" data-kt-select2="true"
												data-placeholder="Select option"
												data-dropdown-parent="#kt_menu_613570945ed49" data-allow-clear="true">
												<option></option>
												<option value="1">Approved</option>
												<option value="2">Pending</option>
												<option value="2">In Process</option>
												<option value="2">Rejected</option>
											</select>
										</div>
										<!--end::Input-->
									</div>
									<!--end::Input group-->
									<!--begin::Input group-->
									<div class="mb-10">
										<!--begin::Label-->
										<label class="form-label fw-bold">Member Type:</label>
										<!--end::Label-->
										<!--begin::Options-->
										<div class="d-flex">
											<!--begin::Options-->
											<label
												class="form-check form-check-sm form-check-custom form-check-solid me-5">
												<input class="form-check-input" type="checkbox" value="1" />
												<span class="form-check-label">Author</span>
											</label>
											<!--end::Options-->
											<!--begin::Options-->
											<label class="form-check form-check-sm form-check-custom form-check-solid">
												<input class="form-check-input" type="checkbox" value="2"
													checked="checked" />
												<span class="form-check-label">Customer</span>
											</label>
											<!--end::Options-->
										</div>
										<!--end::Options-->
									</div>
									<!--end::Input group-->
									<!--begin::Input group-->
									<div class="mb-10">
										<!--begin::Label-->
										<label class="form-label fw-bold">Notifications:</label>
										<!--end::Label-->
										<!--begin::Switch-->
										<div
											class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
											<input class="form-check-input" type="checkbox" value=""
												name="notifications" checked="checked" />
											<label class="form-check-label">Enabled</label>
										</div>
										<!--end::Switch-->
									</div>
									<!--end::Input group-->
									<!--begin::Actions-->
									<div class="d-flex justify-content-end">
										<button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2"
											data-kt-menu-dismiss="true">Reset</button>
										<button type="submit" class="btn btn-sm btn-primary"
											data-kt-menu-dismiss="true">Apply</button>
									</div>
									<!--end::Actions-->
								</div>
								<!--end::Form-->
							</div>
							<!--end::Menu 1-->
							<!--end::Menu-->
						</div>
					</div>
					<!--end::Header-->
					<!--begin::Body-->
					<div class="card-body pt-5">
						<!--begin::Timeline-->
						<div class="timeline-label">
							<!--begin::Item-->
							<div class="timeline-item">
								<!--begin::Label-->
								<div class="timeline-label fw-bolder text-gray-800 fs-6">1</div>
								<!--end::Label-->
								<!--begin::Badge-->
								<div class="timeline-badge">
									<i class="fa fa-genderless text-warning fs-1"></i>
								</div>
								<!--end::Badge-->
								<!--begin::Text-->
								<div class="fw-mormal timeline-content text-muted ps-3">Outlines keep
									you honest. And keep structure</div>
								<!--end::Text-->
							</div>
							<!--end::Item-->
							<!--begin::Item-->
							<div class="timeline-item">
								<!--begin::Label-->
								<div class="timeline-label fw-bolder text-gray-800 fs-6">2</div>
								<!--end::Label-->
								<!--begin::Badge-->
								<div class="timeline-badge">
									<i class="fa fa-genderless text-success fs-1"></i>
								</div>
								<!--end::Badge-->
								<!--begin::Content-->
								<div class="timeline-content d-flex">
									<span class="fw-bolder text-gray-800 ps-3">AEOL meeting</span>
								</div>
								<!--end::Content-->
							</div>
							<!--end::Item-->
							<!--begin::Item-->
							<div class="timeline-item">
								<!--begin::Label-->
								<div class="timeline-label fw-bolder text-gray-800 fs-6">3</div>
								<!--end::Label-->
								<!--begin::Badge-->
								<div class="timeline-badge">
									<i class="fa fa-genderless text-danger fs-1"></i>
								</div>
								<!--end::Badge-->
								<!--begin::Desc-->
								<div class="timeline-content fw-bolder text-gray-800 ps-3">Make deposit
									<a href="#" class="text-primary">USD 700</a>. to ESL</div>
								<!--end::Desc-->
							</div>
							<!--end::Item-->
							<!--begin::Item-->
							<div class="timeline-item">
								<!--begin::Label-->
								<div class="timeline-label fw-bolder text-gray-800 fs-6">4</div>
								<!--end::Label-->
								<!--begin::Badge-->
								<div class="timeline-badge">
									<i class="fa fa-genderless text-primary fs-1"></i>
								</div>
								<!--end::Badge-->
								<!--begin::Text-->
								<div class="timeline-content fw-mormal text-muted ps-3">Indulging in
									poorly driving and keep structure keep great</div>
								<!--end::Text-->
							</div>
							<!--end::Item-->
						</div>
						<!--end::Timeline-->
					</div>
					<!--end: Card Body-->
				</div>
				<!--end: List Widget 5-->
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xxl-8">
				<!--begin::Row-->
				<div class="row gx-5 gx-xl-8 mb-5 mb-xl-8">
					<div class="col-xxl-3">
						<!--begin::Tiles Widget 1-->
						<div class="card h-150px bgi-no-repeat bgi-size-cover card-xxl-stretch"
							style="background-image:url(assets/media/stock/600x400/img-75.jpg">
							<!--begin::Body-->
							<div class="card-body">
								<!--begin::Title-->
								<a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-2"
									data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Properties</a>
								<!--end::Title-->
							</div>
							<!--end::Body-->
						</div>
						<!--end::Tiles Widget 1-->
					</div>
					<div class="col-xxl-9">
						<!--begin::Tiles Widget 4-->
						<div class="card h-150px card-xxl-stretch">
							<!--begin::Body-->
							<div class="card-body d-flex align-items-center justify-content-between flex-wrap">
								<div class="me-2">
									<h2 class="fw-bolder text-gray-800 mb-3">Create CRM Reports</h2>
									<div class="text-muted fw-bold fs-6">Generate the latest CRM report for company
										projects</div>
								</div>
								<a href="#" class="btn btn-primary fw-bold" data-bs-toggle="modal"
									data-bs-target="#kt_modal_create_app">Start Now</a>
							</div>
							<!--end::Body-->
						</div>
						<!--end::Tiles Widget 4-->
					</div>
				</div>
				<!--end::Row-->
				<!--begin::Row-->
				<div class="row gx-5 gx-xl-8 mb-5 mb-xl-8">
					<!--begin::Col-->
					<div class="col-xxl-6">
						<!--begin::Tiles Widget 2-->
						<div class="card h-175px bgi-no-repeat bgi-size-cover card-xxl-stretch mb-5 mb-xl-8"
							style="background-color: #663259; background-position: calc(100% + 0.5rem) 100%;background-size: 100% auto;background-image:url(assets/media/svg/misc/taieri.svg">
							<!--begin::Body-->
							<div class="card-body d-flex flex-column justify-content-between">
								<!--begin::Title-->
								<h3 class="text-white fw-bolder line-height-lg mb-5">Create SaaS
									<br />Based Reports</h3>
								<!--end::Title-->
								<!--begin::Action-->
								<div class="m-0">
									<a href='#' class="btn btn-success fw-bold px-6 py-3" data-bs-toggle="modal"
										data-bs-target="#kt_modal_create_app">Create Report</a>
								</div>
								<!--begin::Action-->
							</div>
							<!--end::Body-->
						</div>
						<!--end::Tiles Widget 2-->
						<div class="row gx-5 gx-xl-8">
							<!--begin::Col-->
							<div class="col-xxl-6">
								<!--begin::Tiles Widget 5-->
								<a href="#" class="card bg-primary card-xxl-stretch">
									<!--begin::Body-->
									<div class="card-body">
										<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
										<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
												<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2"
													fill="black" />
												<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2"
													fill="black" />
												<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2"
													fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
										<div class="text-inverse-primary fw-bolder fs-1 mb-2 mt-5">790</div>
										<div class="fw-bold text-inverse-primary fs-6">New Products</div>
									</div>
									<!--end::Body-->
								</a>
								<!--end::Tiles Widget 5-->
							</div>
							<!--end::Col-->
							<!--begin::Col-->
							<div class="col-xxl-6">
								<!--begin::Tiles Widget 5-->
								<a href="#" class="card bg-bg-body card-xxl-stretch">
									<!--begin::Body-->
									<div class="card-body">
										<!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
										<span class="svg-icon svg-icon-success svg-icon-2hx ms-n1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.3"
													d="M4.05424 15.1982C8.34524 7.76818 13.5782 3.26318 20.9282 2.01418C21.0729 1.98837 21.2216 1.99789 21.3618 2.04193C21.502 2.08597 21.6294 2.16323 21.7333 2.26712C21.8372 2.37101 21.9144 2.49846 21.9585 2.63863C22.0025 2.7788 22.012 2.92754 21.9862 3.07218C20.7372 10.4222 16.2322 15.6552 8.80224 19.9462L4.05424 15.1982ZM3.81924 17.3372L2.63324 20.4482C2.58427 20.5765 2.5735 20.7163 2.6022 20.8507C2.63091 20.9851 2.69788 21.1082 2.79503 21.2054C2.89218 21.3025 3.01536 21.3695 3.14972 21.3982C3.28408 21.4269 3.42387 21.4161 3.55224 21.3672L6.66524 20.1802L3.81924 17.3372ZM16.5002 5.99818C16.2036 5.99818 15.9136 6.08615 15.6669 6.25097C15.4202 6.41579 15.228 6.65006 15.1144 6.92415C15.0009 7.19824 14.9712 7.49984 15.0291 7.79081C15.0869 8.08178 15.2298 8.34906 15.4396 8.55884C15.6494 8.76862 15.9166 8.91148 16.2076 8.96935C16.4986 9.02723 16.8002 8.99753 17.0743 8.884C17.3484 8.77046 17.5826 8.5782 17.7474 8.33153C17.9123 8.08486 18.0002 7.79485 18.0002 7.49818C18.0002 7.10035 17.8422 6.71882 17.5609 6.43752C17.2796 6.15621 16.8981 5.99818 16.5002 5.99818Z"
													fill="black" />
												<path
													d="M4.05423 15.1982L2.24723 13.3912C2.15505 13.299 2.08547 13.1867 2.04395 13.0632C2.00243 12.9396 1.9901 12.8081 2.00793 12.679C2.02575 12.5498 2.07325 12.4266 2.14669 12.3189C2.22013 12.2112 2.31752 12.1219 2.43123 12.0582L9.15323 8.28918C7.17353 10.3717 5.4607 12.6926 4.05423 15.1982ZM8.80023 19.9442L10.6072 21.7512C10.6994 21.8434 10.8117 21.9129 10.9352 21.9545C11.0588 21.996 11.1903 22.0083 11.3195 21.9905C11.4486 21.9727 11.5718 21.9252 11.6795 21.8517C11.7872 21.7783 11.8765 21.6809 11.9402 21.5672L15.7092 14.8442C13.6269 16.8245 11.3061 18.5377 8.80023 19.9442ZM7.04023 18.1832L12.5832 12.6402C12.7381 12.4759 12.8228 12.2577 12.8195 12.032C12.8161 11.8063 12.725 11.5907 12.5653 11.4311C12.4057 11.2714 12.1901 11.1803 11.9644 11.1769C11.7387 11.1736 11.5205 11.2583 11.3562 11.4132L5.81323 16.9562L7.04023 18.1832Z"
													fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->
										<div class="text-inverse-bg-body fw-bolder fs-1 mb-2 mt-5">8,600</div>
										<div class="fw-bold text-inverse-bg-body fs-6">New Customers</div>
									</div>
									<!--end::Body-->
								</a>
								<!--end::Tiles Widget 5-->
							</div>
							<!--end::Col-->
						</div>
					</div>
					<!--end::Col-->
					<!--begin::Col-->
					<div class="col-xxl-6">
						<!--begin::Mixed Widget 3-->
						<div class="card h-100 bgi-no-repeat bgi-size-cover card-xxl-stretch mb-5 mb-xl-8"
							style="background-image:url(assets/media/misc/bg-2.jpg">
							<!--begin::Body-->
							<div class="card-body d-flex flex-column justify-content-between">
								<!--begin::Title-->
								<div class="text-white fw-bolder fs-2">
									<h2 class="fw-bolder text-white mb-2">Create Reports</h2>With App
								</div>
								<!--end::Title-->
								<!--begin::Link-->
								<a href='#' class="text-warning fw-bold" data-bs-toggle="modal"
									data-bs-target="#kt_modal_create_app">Create Report
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
									<span class="svg-icon svg-icon-2 svg-icon-warning">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none">
											<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1"
												transform="rotate(-180 18 13)" fill="black" />
											<path
												d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
												fill="black" />
										</svg>
									</span>
									<!--end::Svg Icon--></a>
								<!--end::Link-->
							</div>
							<!--end::Body-->
						</div>
						<!--end::Mixed Widget 3-->
					</div>
					<!--end::Col-->
				</div>
				<!--end::Row-->
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
	</div>
</div>