<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->

<head>
	<base href="../../../">
	<title>Teknologi Kartu Indonesia</title>
	<meta name="description"
		content="Teknologi Kartu Indonesia &amp; Kartu Digital Multifungsi, Tagihan Digital, Sistem Absensi, EdMedia LMS" />
	<meta name="keywords" content="Teknologi Kartu, Kartu Digital, Tagihan Digital, Pesantren, Absensi" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title"
		content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="Keenthemes | Metronic" />
	<link rel="canonical" href="Https://preview.keenthemes.com/metronic8" />
	<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body class="bg-body">
	<!--begin::Main-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Authentication - Sign-in -->
		<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
			style="background-image: url(assets/media/illustrations/sigma-1/14.png">
			<!--begin::Content-->
			<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
				<!--begin::Logo-->
				<a href="../../demo2/dist/index.html" class="mb-12">
					<img alt="Logo" src="assets/media/logos/logo-1.svg" class="h-40px" />
				</a>
				<!--end::Logo-->
				<!--begin::Wrapper-->
				<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
					<!--begin::Form-->
					<form class="form w-100" novalidate="novalidate">
						<!--begin::Heading-->
						<div class="text-center mb-10">
							<!--begin::Title-->
							<h1 class="text-dark mb-3">Login {{tipe}}</h1>
							<!--end::Title-->
							<!--begin::Link-->
							{% if tp != "validator" %}
							<div class="text-gray-400 fw-bold fs-4">New Here?
								<a href="../../web_admin/signup" class="link-primary fw-bolder">Create an
									Account</a>
							</div>
							{% endif %}
							<!--end::Link-->
						</div>
						<!--begin::Heading-->
						<!--begin::Input group-->
						<div class="fv-row mb-10">
							<!--begin::Label-->
							<label class="form-label fs-6 fw-bolder text-dark">Username</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input class="form-control form-control-lg form-control-solid" id="lg_username" type="text"
								value="user_admin*admin" name="username" autocomplete="off" />
							<!--end::Input-->
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="fv-row mb-10">
							<!--begin::Wrapper-->
							<div class="d-flex flex-stack mb-2">
								<!--begin::Label-->
								<label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
								<!--end::Label-->
								<!--begin::Link-->
								<a href="../../web_admin/partner/reset" class="link-primary fs-6 fw-bolder">Forgot
									Password
									?</a>
								<!--end::Link-->
							</div>
							<!--end::Wrapper-->
							<!--begin::Input-->
							<input class="form-control form-control-lg form-control-solid" id="lg_password" value="pass"
								type="password" name="password" autocomplete="off" />
							<!--end::Input-->
						</div>
						<!--end::Input group-->
						<!--begin::Actions-->
						<div class="text-center">
							<!--begin::Submit button-->
							<button type="button" id="bt_login" class="btn btn-lg btn-primary w-100 mb-5">
								Login
							</button>
							<!--end::Submit button-->
							<!--begin::Separator-->
							<div class="text-center text-muted text-uppercase fw-bolder mb-5">or</div>
							<!--end::Separator-->
							<!--begin::Google link-->
							<a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
								<img alt="Logo" src="assets/media/svg/brand-logos/google-icon.svg"
									class="h-20px me-3" />Continue with Google</a>
							<!--end::Google link-->
							<!--begin::Google link-->
							<a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
								<img alt="Logo" src="assets/media/svg/brand-logos/facebook-4.svg"
									class="h-20px me-3" />Continue with Facebook</a>
							<!--end::Google link-->
						</div>
						<!--end::Actions-->
					</form>
					<!--end::Form-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Content-->
			<!--begin::Footer-->
			<div class="d-flex flex-center flex-column-auto p-10">
				<!--begin::Links-->
				<div class="d-flex align-items-center fw-bold fs-6">
					<a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
					<a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
					<a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
				</div>
				<!--end::Links-->
			</div>
			<!--end::Footer-->
		</div>
		<!--end::Authentication - Sign-in-->
	</div>
	<!--end::Main-->
	<script>
		var hostUrl = "web/aset/";
	</script>
	<!--begin::Javascript-->
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="assets/plugins/global/plugins.bundle.js"></script>
	<script src="assets/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Page Custom Javascript(used by this page)-->
	<!--<script src="assets/js/custom/authentication/sign-in/general.js"></script>-->
	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
	<script>
		$(document).ready(function () {
			$("#bt_login").click(function () {
				var username = $("#lg_username").val().trim();
				var password = $("#lg_password").val().trim();

				if (username != "" && password != "") {
					$.ajax({
						url: 'web_admin/login',
						type: 'post',
						data: {
							username: username,
							password: password
						},
						success: function (response, textStatus, jqXHR) {
							console.log(jqXHR.status)
							var msg = "";
							if (jqXHR.status == 200) {
								window.location = "web_admin/home";
							} else {
								msg = "Invalid username and password!";
							}
							$("#message").html(msg);
						}
					});
				}
			});
		});
	</script>
</body>
<!--end::Body-->

</html>